.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  border-radius: 30px;
}
.Icon {
  color: white;
  padding: 5px;
}
.Icon a {
  color: white;
}
.skillSet .item {
  margin-bottom: 15px;
  overflow: hidden;
  border: 0px solid silver;
  -o-transition: all 0.07s;
  transition: all 0.07s;
  display: inline-block;
  margin: 5px;
  margin-bottom: 5px;
  background-color: #2d7788;
  border-radius: 2px;
  text-decoration: none;
  padding: 3px 6px;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
}

.App-header {
  background-color: #282c34;
  max-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.resumeRow {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: left;
}

h2 {
  font-size: 24px;
  color: black;
  vertical-align: middle;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
